
.navbar{
  background-color: #111f3d;
  padding: .5rem 2rem;
}
.navbar-brand{
    margin-right: 30rem;
}
.collapse{
    align-self: center;
}
.faicon{
  color: white;
  font-size: 1.5rem;
  margin: 0 1rem;
}
.second-nav{
    padding: .5rem 3rem;
    background-color: #192C54;
    color: white;
}
.second-nav p{
    margin: 0 2rem .5rem .5rem;
    font-size: 1.5rem;
}
.falist{
    margin-top: .7rem;
}
.developer_board{
    font-size: 10rem;
    color:#007bff;
}
.calendar{
    margin-top: .7rem;
}
.add-widget{
    cursor: pointer;
    margin: 1rem;
    height: 17rem;
    width: 22rem;
    border: 3px dotted rgb(182, 181, 181);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(182, 181, 181);
    font-size: 1.5rem;
}
.offcanvas-header{
    background: linear-gradient(0deg, rgba(38,97,190,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
    height: 7rem;
}
#offcanvasRightLabel{
    margin-left: 5rem;
}
/* .offcanvas-elm{
    padding: 1rem;
    border: 1px solid black;
    height: 5rem;
    width: 5rem;
} */
.card{
    cursor: pointer;
}
.nsbtn{
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px; 
    margin-bottom: 1rem;
}
.devices{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
}
.device_title{
    background: linear-gradient(0deg, rgba(38,97,190,1) 0%, rgba(0,212,255,1) 100%);
    width: 100%;
    height: 7rem;
}
.createdevice{
    background-color: yellow;
}
.device_titl{
    background: linear-gradient(0deg, rgba(222,189,39,1) 0%, rgba(255,140,0,1) 80%);
    width: 100%;
    height: 7rem;
}
input:focus{
    border: 1px solid #007bff;
}